{{ define "main" -}}
<main class="">
  {{- if .Content }}
  <article class="markdown">{{ .Content | safeHTML }}</article>
  {{ end -}} {{- with .Site.Pages.ByDate.Reverse }}
  <article class="p-2 lg:p-0 space-y-2">
    {{- range where . "Kind" "page" }}
    <article class="relative">
      <h1 class="text-xl font-bold">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <p>{{ .Summary }}</p>
      <time class="absolute top-2 lg:top-0 right-2 lg:right-0"
        >{{ .Date.Format "2006-01-02" }}</time
      >
    </article>
    {{ end -}}
  </article>
  {{ end -}}
</main>
{{- end }}
