<header id="header" class="p-2 lg:col-span-2 lg:my-4 lg:p-0">
  <h1 class="brand"><a href="/" class="block">{{- .Site.Title -}}</a></h1>
  <nav id="navbar">
    <menu>
      {{- $currentpage := .Title -}}
      {{- range .Site.Menus.main }}
      <li class="inline">
        <a href="{{ .URL }}" class="{{ if eq $currentpage .Name }}underline{{ end }}">
        {{- if .Pre }}
          {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
          {{ $icon -}}
        {{ end -}}
        {{ $text := print .Name | safeHTML }}
        {{- $text -}}
      </a>
    </li>
      {{- end }}
    </menu>
  </nav>
</header>
