<header id="header" class="p-2 lg:col-span-2 lg:my-4 lg:p-0">
  <h1 class="brand"><a href="/" class="block">{{- .Site.Title -}}</a></h1>
  <nav id="navbar" class="mt-4">
    <menu class="space-x-2">
      {{- $current := .Title -}}
      {{- range .Site.Menus.main }}
      <li
        class="inline p-2 border-b-2 {{ if eq $current .Name }}border-black{{ else }}border-transparent{{ end }}"
        >
        <a href="{{ .URL }}"{{ if eq $current .Name }} aria-current="page"{{ end -}}>
        {{- if .Pre }}
          {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
          {{ $icon -}}
        {{ end -}}
        {{ $text := print .Name | safeHTML }}
        {{- $text -}}
        </a></li>
      {{- end }}
    </menu>
  </nav>
</header>
