{{ define "main" }}
<main id="content" class="lg:min-h-[250px]">
  <article class="p-2 bg-stone-700">
    <h1>Posts</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
    <div class="mt-2 bg-stone-600 relative">
      <div class="p-2">
        <h1 class="underline text-xl">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
        <p>{{ .Summary }}</p>
      </div>
      <time class="p-1 bg-stone-700 absolute top-0 right-0"
        >{{ .Date.Format "Mon, Jan 2, 2006" }}</time
      >
    </div>
    {{ end }}
  </article>
  layouts/_default/list.html
</main>
{{ end }}
