@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@counter-style unordered {
  system: cyclic;
  symbols: • ◦ ‣ –;
  suffix: " ";
}

@layer base {
  h1:not(:first-child) {
    @apply mt-8;
  }

  h2,
  h3,
  h4 {
    @apply mt-4;
  }
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl font-bold italic;
  }

  h6 {
    @apply text-lg italic underline;
  }

  a {
    @apply underline text-lavender-200
      hover:text-lavender-100 active:text-lavender-200 visited:text-lavender-300;
  }

  ul {
    @apply list-disc;
  }

  article > ul {
    @apply my-2;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply ml-4;
  }

  article {
    @apply leading-7;
  }

  blockquote {
    @apply p-4 my-2 border-l-4 border-stone-900 bg-black/25;
  }

  code {
    @apply bg-stone-900 px-0.5 rounded-sm;
  }

  pre > code {
    @apply bg-stone-900 rounded-sm p-2 block;
  }

  hr {
    @apply my-4 border-stone-500 border-t-[1px] border-b-0;
  }

  mark {
    @apply bg-purple-400 px-0.5;
  }

  kbd {
    @apply bg-stone-500 text-sm font-mono px-1 rounded-sm border border-stone-100;
  }

  video {
    @apply aspect-video;
  }

  table {
    @apply border-2 border-stone-500;
  }

  td {
    @apply p-1 border border-stone-500;
  }

  th {
    @apply p-2 border border-y-2 border-stone-500;
  }

  thead,
  tfoot {
    @apply bg-stone-600;
  }

  details {
    @apply p-4 my-2 border-l-4 border-stone-900 bg-black/25;
  }

  summary {
    @apply font-bold select-none;
  }

  figcaption {
    @apply text-sm text-center mt-2 text-stone-400;
  }

  dt {
    @apply font-bold;
  }

  dd {
    @apply ml-8;
  }

  select,
  textarea,
  input {
    @apply bg-stone-500 p-1 rounded-sm;
  }

  audio,
  iframe,
  figure,
  img,
  video {
    @apply mx-auto w-fit my-2;
  }

  img {
    @apply max-h-96;
  }

  input[type="submit"] {
    @apply bg-stone-500 border-2 border-stone-400 rounded-sm hover:bg-stone-400 active:bg-stone-300 active:text-stone-500;
  }

  label {
    @apply text-sm uppercase;
  }
}
